/* reset */
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, ::before , ::after{
  box-sizing: inherit;
  padding:0;
  margin:0;
}

body{
  font-family:var(--font);
  color:var(--color-black);
  text-transform:capitalize;
}

ul li{
  list-style-type:none;
}
a{
  display:block;
  text-decoration:none;
}
img{
  display: block;
  width:100%;
  height:auto;
}

/* navbar */
header{
  min-height:50px;
  background-color:var(--color-red);
  box-shadow: 0 5px 10px rgba(0,0,0,0.35);
}
header nav ul{
  justify-content: flex-end !important;
  text-align: center;
}
header nav ul li a{
  display: flex;
  align-items: center;
  padding:1rem;
  color:var(--color-white);
  font-weight: var(--font-semi);
  transition: all 0.25s ease-in-out;
}
header nav ul li a span{
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}
header nav ul li a:hover{
  background-color:var(--color-white);
  color:var(--color-black);
}
header nav ul li a:hover span{
  margin-left: 0.35rem;
  transform: translateX(2.5px);
  visibility:visible;
  color:var(--color-black);
}

/* welcome section */
#welcome-section{
  width:100%;
  height:calc(100vh - 50px);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#welcome-section .welcome-img{
  width:100%;
  position: absolute;
  top: 0;
  left:0;
  z-index: 2;
}
#welcome-section .welcome-img>img{
  width: auto;
  object-fit: contain;
}
#welcome-section .layer{
  width:100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  left: 0;
  z-index: 3;
}
#welcome-section .welcome-text{
  background:rgba(0,0,0,0.5);
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: clamp(1.35rem , 3.5vw , 2.5rem);
  line-height: 1.5;
  position: absolute;
  text-align: center;
  color: var(--color-white);
  z-index: 4;
}
#welcome-section .welcome-text h3{
  font-weight: var(--font-reg);
  color: var(--color-red);
}


/* projects section */
#projects{
  margin:var(--margin-section) auto;
}
#projects .projects-text{
  text-align:center;
  line-height:1.8;
}
#projects .portfolio{
  margin:var(--margin-section) auto;
  place-content:center;
}
#projects .portfolio .card{
  border:3px solid #555;
  border-radius: 0.35rem;
  background: #555;
  color:var(--color-white);
  text-align: center;
  transition: all 0.25s ease-in;
  box-shadow: 0 5px 10px rgba(0,0,0,0.35);
}
#projects .portfolio .card:hover{
  transform: translateY(-5px);
}

#projects .portfolio .card h3{
  margin: 0.5rem 0;
  font-weight: var(--font-bold);
}
#projects .portfolio .card a{
  display: block;
  font-weight: var(--font-semi);
  font-size: 0.85rem;
  margin: 0.5rem 0;
  color:var(--color-white);
}
#projects .portfolio .card a span{
  visibility: hidden;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.25s ease-in;
}
#projects .portfolio .card a:hover span{
  visibility: visible;
  opacity: 1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
}

#projects .more a{
  position: relative;
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius:9999px;
  font-weight: var(--font-bold);
  background-color:var(--color-red);
  color:var(--color-white);
  transition: all 0.25s ease-in;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

#projects .more a:hover {
  background-color: #742132;
  box-shadow: 0 0 15px rgba(144, 55, 73, 0.65);
}


/* contact me */
#contact-me{
  padding:var(--padding);
  background-color:var(--color-navy);
}
#contact-me .contact-text{
  color:var(--color-white);
  font-size: clamp(1.5rem, 3.5vw , 2.5rem);
  line-height:1.8;
  text-align: center;
}
#contact-me .contact-text p{
  margin-top:2.5rem ;
  font-size:1.5rem;
}
#contact-me .my-links a{
  position: relative;
  margin:1rem;
  font-size:1.15rem;
  color:var(--color-white);
}
#contact-me .my-links a::before{
  content: '';
  width: 0%;
  height:1px;
  background-color: var(--color-white);
  position: absolute;
  bottom: 0;
  left:0;
  transition:all 0.25s ease-in-out;
}
#contact-me .my-links a:hover::before{
  width:100%;
}

#contact-me .my-links a .icon{
  margin-left:0.25rem;
}


/* footer{ */
  footer{
    padding:0.5rem;
    background-color:var(--color-footer);
  }
  footer .footer-box{
    justify-content: space-between !important;
    color:var(--color-white);
  }
  footer .footer-box .red{
    color:var(--color-red);
  }
  footer .footer-box .social a{
    padding:0.5rem 1rem;
    color:var(--color-white);
  }
  
  footer .footer-box .social .insta:hover{
    color: #833AB4;
    background:linear-gradient(75deg , #405DE6 , #5B51D8 ,#833AB4 ,#C13584 ,#E1306C ,#FD1D1D ,#F56040 ,#F77737 ,#FCAF45 ,#FFDC80);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent;
  }
  footer .footer-box .social .codepen:hover{
    color:#000000;
    background:linear-gradient(126deg, #ffffff 0%, #cccccc 36%);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent;
  }
  footer .footer-box .social .github:hover{
    color:#6e5494 ;
    background:linear-gradient(180deg, #6e5494 0%, #6c35bd 36%, #2b0f53 100%);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent;
  }