/* presets */
:root{
  /* colors */
  --color-orange:#e84545;
  --color-red:#903749;
  --color-navy:#2b2e4a;
  --color-black:#444;
  --color-white:#fafafa;

  /* font & weights*/
  --font:'Montserrat', sans-serif;
  --font-light:300;
  --font-reg:400;
  --font-semi:600;
  --font-bold:700;

  /* padding & margin */
  --padding-section:2.25rem;
  --margin-section:3rem;
  --padding:1.5rem;
}

/* flex */
.flex-jc-ac{
  display:flex;
  justify-content:center;
  align-items:center;
}

/* container */
 .container{ 
  padding-right: var(--padding);
  padding-left: var(--padding);
  margin-right: auto;
  margin-left: auto;
}

/* small screen */
@media all and (min-width:768px){

  .container{
    width:750px;
  }
}

/* medium*/
@media all and (min-width:992px){

  .container{
    width:970px;
  }
}

/* large */
@media all and (min-width:1200px){

  .container{
    width:1170px;
  }
}
  
/* extra large */
@media all and (min-width:1400px){

  .container{
    width:1320px;
  }
}
